.headerWrapper {
  color: var(--white);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 1rem;
  align-items: center;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}